@model Model.ViewModel.KundeRegistreringViewModel



<style type="text/css">
    body {
        color: #fff;
        background-image: url("/Content/Images/tmn.jpg");
        font-family: 'Roboto', sans-serif;
    }

    .registrering-skjema form {
        color: #999;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #f2f3f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .registrering-skjema {
        width: 400px;
        margin: 0 auto;
        padding: 30px 0;
    }
</style>

<body>
    <div class="registrering-skjema mt-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();

            <h2>Register</h2>
            <p class="hint-text" style="color: #999">Lag din konto. Det er gratis og tar bare et minutt.</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            if (ViewBag.Error != null)
            {
                <br />
                <div class="alert alert-danger" role="alert">
                    <strong>Ops!</strong> @ViewBag.Error
                </div>

            }
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        @Html.EditorFor(model => model.Fornavn, new { htmlAttributes = new { @class = "form-control", placeholder = "Fornavn" } })
                        @Html.ValidationMessageFor(model => model.Fornavn, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-6">
                        @Html.EditorFor(model => model.Etternavn, new { htmlAttributes = new { @class = "form-control", placeholder = "Etternavn" } })
                        @Html.ValidationMessageFor(model => model.Etternavn, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Epost, new { htmlAttributes = new { @class = "form-control", placeholder = "E-post" } })
                @Html.ValidationMessageFor(model => model.Epost, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Fodselsdag, new { htmlAttributes = new { @class = "form-control", placeholder = "Fødselsdato" } })
                @Html.ValidationMessageFor(model => model.Fodselsdag, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.Passord, new { @class = "form-control", placeholder = "Passord" })
                @Html.ValidationMessageFor(model => model.Passord, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.Mobilnummer, new { htmlAttributes = new { @class = "form-control", @type = "number", placeholder = "Mobilnummer" } })
                @Html.ValidationMessageFor(model => model.Mobilnummer, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control", placeholder = "Adresse" } })
                @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        @Html.EditorFor(model => model.Postnummer, new { htmlAttributes = new { @class = "form-control", @type = "number", placeholder = "Postnummer" } })
                        @Html.ValidationMessageFor(model => model.Postnummer, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-6">
                        @Html.EditorFor(model => model.Poststed, new { htmlAttributes = new { @class = "form-control", placeholder = "Poststed" } })
                        @Html.ValidationMessageFor(model => model.Poststed, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="checkbox-inline"><input type="checkbox" required="required"> Jeg godtar <a href="#">Vilkårene for bruk</a></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Registrer Nå</button>
            </div>
        }
        <div class="text-center">
            Har du allerede en konto?<a href="@Url.Action("Login","Kunde")">Logg inn</a>
        </div>
    </div>

    <div>
        @Html.ActionLink("Tilbake til forsiden", "Hjem")
    </div>
</body>
              